* {
    padding: 0;
    margin: 0;
    font-family: "Crimson Text", serif;
}

body {
    min-height: 100vh;
    display: grid;
    background-color: rgb(199, 199, 199);
}

.todo {
    display: flex;
    flex-flow: column;
}

.contenedor_nav {
    display: flex;
    align-items: center;
    height: 2vh;
    transition-duration: .5s;
    background-color: rgb(76, 76, 76);
}

.links {
    padding-right: 3rem;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: .5s;
}

.link:hover {
    color: chartreuse;
}

.contenedor_nav:hover {
    height: 5vh;
    align-content: center;
    .titulo {
        font-size: 2rem;
    }
}

.navegador {
    flex-grow: 20;
    align-content: center;
}

.titulo {
    font-size: 1rem;
    color: aquamarine;
    transition-duration: .5s;
}

.cuerpo {
    display: flex;
    flex-grow: 2;
    height: 90vh;
}

.principal {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;
    padding-top: 3rem;
}



.contenedor_nombre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 0px 10px 0px black;
    padding: 1rem;
}

.contenedor_nombre_ingreso {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 0px 10px 0px black;
    padding: 1rem;
}

.contenedor_nombre_registro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 0px 10px 0px black;
    padding: 1rem;
}

.contenedor_nombre_ventas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 0px 10px 0px black;
    padding: 1rem;
}

.contenedor_fundamento {
    display: grid;
    gap: 2rem;
    align-content: start;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 7;
    box-shadow: 0px 0px 10px 0px black;
    padding: 1rem;
}

.nombre {
    grid-column-start: span 2;
    color: rgb(20, 20, 20);
    padding-top: 1rem;
    padding-left: 2rem;
}

.nombre_registro {
    grid-column-start: span 2;
    color: rgb(20, 20, 20);
    padding-top: 1rem;
    padding-left: 2rem;
}

.nombre_ingreso {
    grid-column-start: span 2;
    color: rgb(20, 20, 20);
    padding-top: 1rem;
    padding-left: 2rem;
}

.nombre_ventas {
    grid-column-start: span 2;
    color: rgb(20, 20, 20);
    padding-top: 2rem;
    padding-left: 2rem;
}

.yo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    color: rgb(0, 17, 39);
    padding-top: 2rem;
}

.yo_registro {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    color: rgb(0, 17, 39);
    padding-top:2.5rem;
}

.yo_ingreso {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    color: rgb(0, 17, 39);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.yo_ventas {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    color: rgb(0, 17, 39);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.titulo_funda {
    color: black;
}

.fundamento {
    grid-row-start: 3;
    grid-row-end: 6;
    position: relative;
    color: black;
}

.links {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
}

.links_ingreso {
    grid-column-start: 4;
    grid-column-end: 6;
}

.links_ingreso2 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
}

.links_ingreso3 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
}

.links_ingreso4 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
}

.links_ingreso5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
}

.links_ingreso6 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
}

.links_registro {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
}

.links_registro1 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
}

.link_usuario {
    display: grid;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(54, 54, 54);
    transition-duration: .5s;
    grid-column-start: span 4;
    grid-row-start: 2;
    padding: 1rem;
    place-content: center;
    font-size: 2rem;
}

.link_usuario:hover {
    color: rgb(0, 255, 8);
    background-color: rgb(145, 145, 145);
    box-shadow: 0px 0px 5px 5px rgb(54, 54, 54);
}

.contenedor_sobre_mi {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 7;
}

.contenedor_sobre_mi:hover {
    .sobre_mi {
        z-index: -1;
        opacity: 0;
    }
}

.sobre_mi {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 5;
    background-color: rgb(199, 199, 199);
    transition-duration: 1s;
}

.contenedor_mi_foto {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.mi_foto {
    width: 300px;
    height: auto;
}

.pie {
    background-color: rgb(173, 173, 173);
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem repeat(10, 1fr);
    padding-left: 2rem;
}

.instagram {
    transition-duration: .5s;
}

.instagram:hover {
    scale: 1.2;
}

.facebook {
    transition-duration: .5s;
}

.facebook:hover {
    scale: 1.2;
}

.github {
    transition-duration: .5s;
}

.github:hover {
    scale: 1.2;
}

.contacto {
    font-family: "Poetsen One", sans-serif;
    color: black;
}

.formulario {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    display: grid;
    gap: 1rem;
}

.nombre_datos {
    grid-column-start: 2;
    grid-row-start: 1;

}

.formulario_hijo {
    grid-column-start: 3;
    grid-row-start: 2;
}

.form_registro {
    display: grid;
}

.guardar_registro {
    grid-column-start: 3;
    grid-row-start: 3;
}

.form {
    grid-column-start: 4;
    grid-row-start: 2;
    scale: 1.5;
}

.guardar {
    grid-column-start: 4;
    grid-row-start: 3;
    height: 30px;
    width: 150px;
}

.contenedor_localidad {
    display: flex;
    flex-flow: column;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 1px black;
    height: 130px;
    padding: 1rem;
}

.link_localidad {
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition-duration: .5s;
    margin-left: 8rem;
    padding: 5px;
}

.link_localidad:hover {
    color: rgb(0, 255, 8);
    background-color: rgb(145, 145, 145);
    box-shadow: 0px 0px 5px 5px rgb(54, 54, 54);
}

.contenedor_marca {
    display: flex;
    flex-flow: column;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 1px black;
    height: 130px;
    padding: 1rem;
}

.contenedor_producto {
    display: flex;
    flex-flow: column;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 1px black;
    height: 130px;
    padding: 1rem;
}

.contenedor_cliente {
    display: flex;
    flex-flow: column;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 1px black;
    height: 130px;
    padding: 1rem;
}

.contenedor_vendedor {
    display: flex;
    flex-flow: column;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 1px black;
    height: 130px;
    padding: 1rem;
}

.contenedor_pais {
    display: flex;
    flex-flow: column;
    grid-column-start: 4;
    grid-column-end: 6;
    gap: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px 1px black;
    height: 130px;
    padding: 1rem;
}

.lista_ventas {
    grid-column-start: 2;
    grid-column-end: 4;
}

.lista {
    display: flex;
    flex-flow: column;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px .5px black;
    padding: 1rem;
    gap: 1rem;
}
