{% extends 'core/base.html' %}

{% block title %}
    Egreso
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Control de egreso</h2>
        </div>
        <div class="links">
            <a href="{% url 'core:index' %}" class="link">Inicio</a>
            <a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a>
            <a href="{% url 'ingreso:index' %}" class="link">Ingreso</a>
            <a href="{% url 'ventas:index' %}" class="link">Ventas</a>
            <a href="{% url 'ingreso:acceder' %}" class="link">Acceder</a>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <h1 class="nombre_ingreso">Usuario que egresa:</h1>
            <div class="formulario">
                <form action="" method="post" class="formulario_egreso">
                    {% csrf_token %}
                    {{ form_egreso }}
                    <button type="submit" class="guardar">Marcar salida</button>
                </form>
            </div>
            <div class="explicacion">
                <p>En esta sección marcan la salida del turno de trabajo.</p>
            </div>
        </main>
    </div>
{% endblock content %}