{% extends 'core/base.html' %}

{% block title %}
    Ingreso
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Ingreso</h2>
        </div>
        <div class="links">
            <a href="{% url 'core:index' %}" class="link">Inicio</a>
            <a href="{% url 'registro:index' %}" class="link">Registro</a>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <h1 class="nombre">Ingreso de personal</h1>
            <div class="links_ingreso">
                <a href="{% url 'ingreso:acceder' %}" class="link_usuario">Registrar Ingreso</a><br>
                <a href="{% url 'ingreso:egreso' %}" class="link_usuario">Registrar Egreso</a>
            </div>
        </main>
    </div>
{% endblock content %}