{% extends 'core/base.html' %}

{% block title %}
    Ingreso
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Ingreso</h2>
        </div>
        <div class="links">
            <a href="{% url 'core:index' %}" class="link">Inicio</a>
            <a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a>
            <a href="{% url 'ventas:index' %}" class="link">Ventas</a>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="contenedor_nombre_ingreso">
                <h1 class="nombre_ingreso">Ingreso de personal</h1>
                <p class="yo_ingreso"> En esta sección registramos los ingresos y los egresos del personal.</p>
            </div>
            <div class="links_ingreso">
                <a href="{% url 'ingreso:acceder' %}" class="link_usuario">Marcar Ingreso</a>
            </div>
            <div class="links_ingreso2">
                <a href="{% url 'ingreso:egreso' %}" class="link_usuario">Marcar Egreso</a>
            </div>
        </main>
    </div>
{% endblock content %}