{% extends 'core/base.html' %}

{% block title %}
    Lista de usuarios
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Listado de Usuarios</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="explicacion">
                <p>En esta sección podemos ver los usuarios/empleados cargados.</p>
            </div>
            <div class="lista_ventas">
                {% for usuario in lista_usuarios %}
                <ul class="lista">
                    <li>Usuario: {{ usuario.nombre }}</li>
                    <li>Fecha de nacimiento: {{usuario.nacimiento}}</li>
                    <li>Puesto: {{usuario.puesto}}</li>
                    <li>Ingresó a la empresa el {{usuario.fecha_ingreso}}</li>
                </ul>
                <br>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock content %}