{% extends 'core/base.html' %}

{% block title %}
    Registro
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Registro Usuario</h2>
        </div>
        <div class="links">
            <a href="{% url 'core:index' %}" class="link">Inicio</a>
            <a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a>
            <a href="{% url 'ingreso:index' %}" class="link">Ingreso</a>
            <a href="{% url 'ventas:index' %}" class="link">Ventas</a>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="formulario_registro">
                <h1 class="nombre_datos">Datos:</h1>
                <form action="" method="post" class="formulario_hijo">
                        {% csrf_token %}
                        {{ form_registro }}
                        <button type="submit" class="guardar_registro">Guardar</button>
                </form>
            </div>
            <div class="explicacion">
                <p>En esta sección registraremos a los empleados de la empresa.</p>
            </div>
        </main>
    </div>
{% endblock content %}