{% extends 'core/base.html' %}

{% block title %}
    Registro
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Registro</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <a href="{% url 'ventas:index' %}" class="link">Ventas</a>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="contenedor_nombre">
                <h1 class="nombre">Registro de usuarios</h1>
                <p class="yo"> En esta sección registramos al personal.</p>
            </div>
            <div class="links_registro">
                <a href="{% url 'ingreso:registro' %}" class="link_usuario">Registrar Usuario</a>
            </div>
        </main>
    </div>
{% endblock content %}