{% extends 'core/base.html' %}

{% block title %}
    Registro
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Registro Usuario</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="formulario">
                <h1 class="nombre_datos">Datos:</h1>
                <form action="" method="post" class="formulario_hijo">
                    <div class="form_registro">
                        {% csrf_token %}
                        {{ form_registro }}
                    </div>
                </form>
                <div class="guardar_registro">
                    <button type="submit">Guardar</button>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}