{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Pre-entrega N°3
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Inicio</h2>
        </div>
        <div class="links">
            <a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a>
            <a href="{% url 'ingreso:index' %}" class="link">Ingreso</a>
            <a href="{% url 'ventas:index' %}" class="link">Ventas</a>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="contenedor_nombre">
                <h1 class="nombre">Pre-entrega N°3</h1>
                <h2 class="yo">Estudiante: Pablo Martinez</h2>
            </div>
            <div class="contenedor_fundamento">
                <h2 class="titulo_funda">Fundamento</h2>
                <p class="fundamento">Este proyecto cuenta con dos apps: 
                    <ul>
                        Una para registro de personal, control de acceso y control de egreso.
                    </ul>
                    <ul>
                        Y otra para registrar clinetes, crear productos y realizar ventas.</p>
                    </ul>
            </div>
            <div class="contenedor_sobre_mi">
                <div class="sobre_mi">
                    <h3 class="sobre_mi_h3">Sobre mi:</h3>
                    <p class="sobre_mi_p">Soy profesor de educación física y desde siempre me gusto la tecnología, por lo que en febrero de este año me propuse aprender a programar. Y aqui estamos...</p>
                </div>
                <div class="contenedor_mi_foto">
                    <img src="{% static 'img/mi_foto.png' %}" alt="" height="" width="" class="mi_foto">
                </div>
            </div>
        </main>
    </div>
{% endblock content %}
