{% extends 'core/base.html' %}

{% block title %}
    Confirmación para borrar
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Eliminar producto</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="explicacion">
                <p>En esta sección pedimos la confirmación para eliminar el producto.</p>
            </div>
            <div class="formulario_confirmacion">
                <h2 class="formulario_h2">¿Seguro que desea eliminar {{ object.nombre }}?</h2>
                <form method="post" class="boton_confirmacion">
                    {% csrf_token %}
                    <button type="submit" class="boton_confirmacion_1">Eliminar</button>
                </form>
                <a href="{% url 'ventas:lista_productos' %}" class="link_usuario3">Volver</a>
            </div>
        </main>
    </div>
{% endblock content %}