{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Ventas
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Ventas</h2>
        </div>
        <div class="links">
            <a href="{% url 'core:index' %}" class="link">Inicio</a>
            <a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a>
            <a href="{% url 'ingreso:index' %}" class="link">Ingreso</a>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="contenedor_nombre_ventas">
                <h1 class="nombre_ventas">Ventas</h1>
                <p class="yo_ventas">En esta app creamos los clinetes, los productos, se realizan ventas y se puede ver el listado de ventas.</p>
            </div>
            <div class="links_ingreso">
                <a href="{% url 'ventas:nuevocliente' %}" class="link_usuario">Registrar cliente</a>
            </div>
            <div class="links_ingreso2">
                <a href="{% url 'ventas:nuevo_producto' %}" class="link_usuario">Crear producto</a>
            </div>
            <div class="links_ingreso3">
                <a href="{% url 'ventas:venta' %}" class="link_usuario_ventas">Ventas<img src="{% static 'img/carrito.png' %}" alt="" height="" width=""></a>
            </div>
            <div class="links_ingreso4">
                <a href="{% url 'ventas:lista_ventas' %}" class="link_usuario">Ver listado de Ventas</a>
            </div>
            <div class="links_ingreso5">
                <a href="{% url 'ventas:lista_clientes' %}" class="link_usuario">Ver Clientes registrados</a>
            </div>
            <div class="links_ingreso6">
                <a href="{% url 'ventas:lista_productos' %}" class="link_usuario">Ver listado de Productos</a>
            </div>
        </main>
    </div>
{% endblock content %}