{% extends 'core/base.html' %}

{% block title %}
    Lista de ventas
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Listado de ventas</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="explicacion">
                <p>En esta sección podemos ver las ventas realizadas.</p>
            </div>
            <div class="lista_ventas">
                {% for lista in lista_ventas %}
                <ul class="lista">
                    <li>Cliente: {{ lista.cliente }}</li>
                    <li>Compro: {{lista.producto}}</li>
                    <li>Vendedor: {{lista.vendedor}}</li>
                </ul>
                <br>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock content %}