{% extends 'core/base.html' %}

{% block title %}
    Lista de Productos
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Productos</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="explicacion">
                <p>En esta sección podemos ver los productos cargados.</p>
            </div>
            <div class="lista_ventas">
                {% for lista in lista_productos %}
                <ul class="lista_productos">
                    <li class="producto1">Nombre: {{ lista.nombre }}</li>
                    <li class="producto2">Marca: {{lista.marca}}</li>
                    <li class="producto3">Precio: ${{lista.precio}}</li>
                    <a href="{% url 'ventas:cambiar_precio' lista.id %}" class="link_usuario1">Editar</a>
                </ul>
                <br>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock content %}