{% extends 'core/base.html' %}

{% block title %}
    Nueva Localidad
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Nueva Localidad</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <h1 class="nombre">Datos:</h1>
            <form action="" method="post">
                <div class="form_registro">
                    {% csrf_token %}
                    {{ form_localidad }}
                </div>
                <button type="submit" class="guardar_registro">Guardar</button>
            </form>
            <div class="contenedor_pais">
                <h3>En caso que el pais no exista, podes agregarlo.</h3>
                <p><a href="{% url 'ventas:pais' %}" class="link">Agregar Pais</a></p>
            </div>
        </main>
    </div>
{% endblock content %}