{% extends 'core/base.html' %}

{% block title %}
    Nueva Marca
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Nueva Marca</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="formulario_cliente">
                <h1 class="nombre_datos">Datos:</h1>
                <div class="formulario_hijo">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form_marca }}
                        <button type="submit" class="guardar_registro">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="explicacion">
                <p>En esta sección creamos la marca para los productos.</p>
            </div>
            <div class="contenedor_pais">
                <h3>En caso que el pais no exista, podes agregarlo.</h3>
                <p><a href="{% url 'ventas:pais' %}" target="_blank" class="link_localidad">Agregar Pais</a></p>
            </div>
        </main>
    </div>
{% endblock content %}