{% extends 'core/base.html' %}

{% block title %}
    Nuevo Pais
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Nuevo Pais</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <div class="formulario_cliente">
                <h1 class="nombre_datos">Datos:</h1>
                <div class="formulario_hijo">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form_pais }}
                        <button type="submit" class="guardar_registro">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="explicacion">
                <p>En esta sección cargamos un país al sistema.</p>
            </div>
        </main>
    </div>
{% endblock content %}