{% extends 'core/base.html' %}

{% block title %}
    Nueva Venta
{% endblock title %}

{% block content %}
    <nav class="contenedor_nav">
        <div class="navegador">
            <h2 class="titulo">Nueva Venta</h2>
        </div>
        <div class="links">
            <p><a href="{% url 'core:index' %}" class="link">Inicio</a></p>
            <p><a href="{% url 'ingreso:registro_index' %}" class="link">Registro</a></p>
            <p><a href="{% url 'ingreso:index' %}" class="link">Ingreso</a></p>
            <p><a href="{% url 'ventas:index' %}" class="link">Ventas</a></p>
        </div>
    </nav>
    <div class="cuerpo">
        <main class="principal">
            <h1 class="nombre">Datos:</h1>
            <form action="" method="post">
                <div class="form_registro">
                    {% csrf_token %}
                    {{ form_venta }}
                </div>
                <button type="submit" class="guardar_registro">Guardar</button>
            </form>
            <div class="contenedor_producto">
                <h3>Si el producto no existe, debes crearlo.</h3>
                <p><a href="{% url 'ventas:nuevocliente' %}" class="link">Agregar Cliente</a></p>
            </div>
            <div class="contenedor_marca">
                <h3>Si el cliente es nuevo, debes agregarlo.</h3>
                <p><a href="{% url 'ventas:nuevocliente' %}" class="link">Agregar Cliente</a></p>
            </div>
            <div class="contenedor_pais">
                <h3>Si no existe el vendedor, debe registrarse.</h3>
                <p><a href="{% url 'ingreso:registro' %}" class="link">Agregar Vendedor</a></p>
            </div>
        </main>
    </div>
{% endblock content %}